/* -- DEFAULTS -- */

div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- FLUID GRID STYLES -- */

#Grid{
  margin-bottom: 40px;
  text-align: justify;
  font-size: 0.1px;
}

#Grid li{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  width: 33%;
  padding-top: 0%; /* Used instead of height to give elements fluid, width-based height */
  margin-bottom: 2.5%;
}

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
  border-top: 1px solid #fff; /* Border added to make element visible for demonstration purposes */
}

#Grid .placeholder{
  padding: 0;
  border-top: 10px solid #922d8d; /* Border added to make element visible for demonstration purposes */
}

/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 4 COL */

@media (min-width: 1000px){
  #Grid li{
    width: 25%;
    padding-top: 0%;
    margin-bottom: 3%;
  }
}


/* 3 COL */

@media (max-width: 800px){
  #Grid li{
    width: 31%;
    padding-top: 0%;
    margin-bottom: 3%;
  }
}

/* 2 COL */

@media (max-width: 775px){
  #Grid li{
    width: 48%;
    padding-top: 0%;
    margin-bottom: 3%;
  }
}

/* SINGLE COL */

@media (max-width: 520px){
  #Grid li{
    width: 100%;
    padding-top: 0%;
    margin-bottom: 3%;
  }
}





/* MODAL */

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:none;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
