body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
/*  background-color: #02ccaa;*/
  background-image: url('../images/count2.png');
  background-attachment: fixed;
}

/* -- DEFAULTS/ BASICS -- */
a {
  color: #00B7FF;
}
h1 {
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}
h2 {
  text-align: center;
  color: black;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: white;
  letter-spacing: 5px;
  width: 100%;
  word-wrap: break-word;
}
div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  background-color: #2C6872;
  height: 40px;
  letter-spacing: .1em;
}
a {
  letter-spacing: .1em;
  color: #000;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
/* -- END DEFAULTS/ BASICS -- */

/* ADD ON CLASSES */
.box-shawdow {
  box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
.text-shadow {
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
.stuff {
  margin: 0 auto;
  text-align: center;
  border-width: 0px;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}
/* END ADD ON CLASSES */
